In [1]:
import pandas as pd

In [2]:
matches = pd.read_csv("matches.csv", index_col=0)

In [3]:

matches.shape

(3496, 27)

In [4]:
matches["team"].value_counts()

Manchester City             190
Leicester City              190
Burnley                     190
Everton                     190
Liverpool                   190
Southampton                 190
Chelsea                     190
Manchester United           190
Tottenham Hotspur           190
Arsenal                     190
Crystal Palace              152
West Ham United             152
Newcastle United            152
Wolverhampton Wanderers     152
Brighton and Hove Albion    152
Watford                     114
Aston Villa                  76
Leeds United                 76
Fulham                       76
West Bromwich Albion         76
Sheffield United             76
Bournemouth                  76
Huddersfield Town            76
Brentford                    38
Norwich City                 38
Cardiff City                 38
Swansea City                 38
Stoke City                   38
Name: team, dtype: int64

In [5]:
matches["round"].value_counts()

Matchweek 1     92
Matchweek 29    92
Matchweek 22    92
Matchweek 23    92
Matchweek 24    92
Matchweek 25    92
Matchweek 26    92
Matchweek 27    92
Matchweek 28    92
Matchweek 31    92
Matchweek 2     92
Matchweek 32    92
Matchweek 30    92
Matchweek 34    92
Matchweek 35    92
Matchweek 36    92
Matchweek 33    92
Matchweek 37    92
Matchweek 21    92
Matchweek 20    92
Matchweek 19    92
Matchweek 18    92
Matchweek 3     92
Matchweek 4     92
Matchweek 5     92
Matchweek 6     92
Matchweek 7     92
Matchweek 8     92
Matchweek 9     92
Matchweek 10    92
Matchweek 11    92
Matchweek 12    92
Matchweek 13    92
Matchweek 14    92
Matchweek 15    92
Matchweek 16    92
Matchweek 17    92
Matchweek 38    92
Name: round, dtype: int64

In [6]:
matches.dtypes

date             object
time             object
comp             object
round            object
day              object
venue            object
result           object
gf                int64
ga                int64
opponent         object
xg              float64
xga             float64
poss            float64
attendance      float64
captain          object
formation        object
referee          object
match report     object
notes           float64
sh              float64
sot             float64
dist            float64
fk              float64
pk              float64
pkatt           float64
season            int64
team             object
dtype: object

In [7]:
del matches["comp"]

In [8]:

del matches["notes"]

In [9]:
matches["date"] = pd.to_datetime(matches["date"])

In [10]:
matches["target"] = (matches["result"] == "W").astype("int")

In [11]:
matches

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,match report,sh,sot,dist,fk,pk,pkatt,season,team,target
1,2021-08-15,16:30,Matchweek 1,Sun,Away,L,0,1,Tottenham,1.9,...,Match Report,18.0,4.0,16.9,1.0,0.0,0.0,2022,Manchester City,0
2,2021-08-21,15:00,Matchweek 2,Sat,Home,W,5,0,Norwich City,2.7,...,Match Report,16.0,4.0,17.3,1.0,0.0,0.0,2022,Manchester City,1
3,2021-08-28,12:30,Matchweek 3,Sat,Home,W,5,0,Arsenal,3.8,...,Match Report,25.0,10.0,14.3,0.0,0.0,0.0,2022,Manchester City,1
4,2021-09-11,15:00,Matchweek 4,Sat,Away,W,1,0,Leicester City,2.9,...,Match Report,25.0,8.0,14.0,0.0,0.0,0.0,2022,Manchester City,1
6,2021-09-18,15:00,Matchweek 5,Sat,Home,D,0,0,Southampton,1.1,...,Match Report,16.0,1.0,15.7,1.0,0.0,0.0,2022,Manchester City,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2018-04-15,16:00,Matchweek 34,Sun,Away,W,1,0,Manchester Utd,0.8,...,Match Report,10.0,4.0,18.8,0.0,0.0,0.0,2021,West Bromwich Albion,1
39,2018-04-21,12:30,Matchweek 35,Sat,Home,D,2,2,Liverpool,1.4,...,Match Report,12.0,5.0,18.1,0.0,0.0,0.0,2021,West Bromwich Albion,0
40,2018-04-28,15:00,Matchweek 36,Sat,Away,W,1,0,Newcastle Utd,0.8,...,Match Report,9.0,2.0,18.5,0.0,0.0,0.0,2021,West Bromwich Albion,1
41,2018-05-05,15:00,Matchweek 37,Sat,Home,W,1,0,Tottenham,1.4,...,Match Report,10.0,1.0,10.4,0.0,0.0,0.0,2021,West Bromwich Albion,1
42,2018-05-13,15:00,Matchweek 38,Sun,Away,L,0,2,Crystal Palace,0.3,...,Match Report,7.0,1.0,24.5,1.0,0.0,0.0,2021,West Bromwich Albion,0

In [12]:
matches["venue_code"] = matches["venue"].astype("category").cat.codes

In [13]:
matches["opp_code"] = matches["opponent"].astype("category").cat.codes

In [14]:
matches["hour"] = matches["time"].str.replace(":.+", "", regex=True).astype("int")

In [15]:
matches["day_code"] = matches["date"].dt.dayofweek

In [16]:
matches

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,fk,pk,pkatt,season,team,target,venue_code,opp_code,hour,day_code
1,2021-08-15,16:30,Matchweek 1,Sun,Away,L,0,1,Tottenham,1.9,...,1.0,0.0,0.0,2022,Manchester City,0,0,23,16,6
2,2021-08-21,15:00,Matchweek 2,Sat,Home,W,5,0,Norwich City,2.7,...,1.0,0.0,0.0,2022,Manchester City,1,1,18,15,5
3,2021-08-28,12:30,Matchweek 3,Sat,Home,W,5,0,Arsenal,3.8,...,0.0,0.0,0.0,2022,Manchester City,1,1,0,12,5
4,2021-09-11,15:00,Matchweek 4,Sat,Away,W,1,0,Leicester City,2.9,...,0.0,0.0,0.0,2022,Manchester City,1,0,13,15,5
6,2021-09-18,15:00,Matchweek 5,Sat,Home,D,0,0,Southampton,1.1,...,1.0,0.0,0.0,2022,Manchester City,0,1,20,15,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2018-04-15,16:00,Matchweek 34,Sun,Away,W,1,0,Manchester Utd,0.8,...,0.0,0.0,0.0,2021,West Bromwich Albion,1,0,16,16,6
39,2018-04-21,12:30,Matchweek 35,Sat,Home,D,2,2,Liverpool,1.4,...,0.0,0.0,0.0,2021,West Bromwich Albion,0,1,14,12,5
40,2018-04-28,15:00,Matchweek 36,Sat,Away,W,1,0,Newcastle Utd,0.8,...,0.0,0.0,0.0,2021,West Bromwich Albion,1,0,17,15,5
41,2018-05-05,15:00,Matchweek 37,Sat,Home,W,1,0,Tottenham,1.4,...,0.0,0.0,0.0,2021,West Bromwich Albion,1,1,23,15,5
42,2018-05-13,15:00,Matchweek 38,Sun,Away,L,0,2,Crystal Palace,0.3,...,1.0,0.0,0.0,2021,West Bromwich Albion,0,0,8,15,6

In [63]:
#from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

In [65]:
#rf = RandomForestClassifier(n_estimators=50, min_samples_split=10, random_state=1)
xgb=XGBClassifier(n_estimators=50 , max_depth=4, learning_rate=0.08,colsample_bytree=0.2,
                   random_state=12,subsample=0.8)

In [19]:
train = matches[matches["date"] < '2022-01-01']

In [20]:
test = matches[matches["date"] > '2022-01-01']

In [52]:
test

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,fk,pk,pkatt,season,team,target,venue_code,opp_code,hour,day_code
31,2022-01-15,12:30,Matchweek 22,Sat,Home,W,1,0,Chelsea,0.7,...,1.0,0.0,0.0,2022,Manchester City,1,1,7,12,5
32,2022-01-22,17:30,Matchweek 23,Sat,Away,D,1,1,Southampton,1.6,...,0.0,0.0,0.0,2022,Manchester City,0,0,20,17,5
34,2022-02-09,19:45,Matchweek 24,Wed,Home,W,2,0,Brentford,2.0,...,0.0,1.0,1.0,2022,Manchester City,1,1,3,19,2
35,2022-02-12,17:30,Matchweek 25,Sat,Away,W,4,0,Norwich City,4.6,...,0.0,0.0,1.0,2022,Manchester City,1,0,18,17,5
37,2022-02-19,17:30,Matchweek 26,Sat,Home,L,2,3,Tottenham,2.1,...,0.0,1.0,1.0,2022,Manchester City,0,1,23,17,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2022-04-30,15:00,Matchweek 35,Sat,Away,L,0,2,Aston Villa,0.6,...,0.0,0.0,0.0,2022,Norwich City,0,0,1,15,5
39,2022-05-08,14:00,Matchweek 36,Sun,Home,L,0,4,West Ham,0.7,...,1.0,0.0,0.0,2022,Norwich City,0,1,26,14,6
40,2022-05-11,19:45,Matchweek 21,Wed,Away,L,0,3,Leicester City,1.2,...,0.0,0.0,0.0,2022,Norwich City,0,0,13,19,2
41,2022-05-15,14:00,Matchweek 37,Sun,Away,D,1,1,Wolves,1.3,...,0.0,0.0,0.0,2022,Norwich City,0,0,27,14,6
42,2022-05-22,16:00,Matchweek 38,Sun,Home,L,0,5,Tottenham,0.3,...,0.0,0.0,0.0,2022,Norwich City,0,1,23,16,6

In [21]:
predictors = ["venue_code", "opp_code", "hour", "day_code"]

In [108]:
rf.fit(train[predictors], train["target"])

RandomForestClassifier(min_samples_split=10, n_estimators=50, random_state=1)

In [109]:
preds = rf.predict(test[predictors])

In [74]:
from sklearn.metrics import accuracy_score

In [110]:
acc = accuracy_score(test["target"], preds)

In [111]:
acc

0.615979381443299

In [77]:
combined = pd.DataFrame(dict(actual=test["target"], predicted=preds))

In [78]:
pd.crosstab(index=combined["actual"], columns=combined["predicted"])

predicted    0   1
actual
0          225   8
1          141  14

In [79]:
from sklearn.metrics import precision_score

precision_score(test["target"], preds)

0.6363636363636364

In [80]:
grouped_matches = matches.groupby("team")

In [81]:
group = grouped_matches.get_group("Manchester City").sort_values("date")

In [82]:
def rolling_averages(group, cols, new_cols):
    group = group.sort_values("date")
    rolling_stats = group[cols].rolling(3, closed='left').mean()
    group[new_cols] = rolling_stats
    group = group.dropna(subset=new_cols)
    return group

In [83]:
cols = ["gf", "ga", "sh", "sot", "dist", "fk", "pk", "pkatt"]
new_cols = [f"{c}_rolling" for c in cols]

rolling_averages(group, cols, new_cols)

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,hour,day_code,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
3,2017-09-09,12:30,Matchweek 4,Sat,Home,W,5,0,Liverpool,2.7,...,12,5,1.666667,0.666667,17.333333,6.000000,18.233333,1.333333,0.000000,0.000000
5,2017-09-16,15:00,Matchweek 5,Sat,Away,W,6,0,Watford,3.6,...,15,5,2.666667,0.666667,17.000000,8.000000,16.500000,0.666667,0.000000,0.000000
7,2017-09-23,15:00,Matchweek 6,Sat,Home,W,5,0,Crystal Palace,4.4,...,15,5,4.333333,0.333333,19.333333,9.000000,15.966667,0.333333,0.333333,0.333333
9,2017-09-30,17:30,Matchweek 7,Sat,Away,W,1,0,Chelsea,1.1,...,17,5,5.333333,0.000000,21.666667,9.333333,14.866667,0.000000,0.333333,0.333333
10,2017-10-14,15:00,Matchweek 8,Sat,Home,W,7,2,Stoke City,3.9,...,15,5,4.000000,0.000000,23.000000,7.666667,15.866667,0.333333,0.333333,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,2022-04-30,17:30,Matchweek 35,Sat,Away,W,4,0,Leeds United,2.7,...,17,5,3.333333,1.000000,16.000000,5.333333,16.700000,0.333333,0.333333,0.333333
54,2022-05-08,16:30,Matchweek 36,Sun,Home,W,5,0,Newcastle Utd,3.1,...,16,6,4.000000,0.333333,18.666667,6.000000,16.333333,0.000000,0.333333,0.333333
55,2022-05-11,20:15,Matchweek 33,Wed,Away,W,5,1,Wolves,3.1,...,20,2,4.666667,0.333333,20.000000,7.333333,15.166667,0.333333,0.333333,0.333333
56,2022-05-15,14:00,Matchweek 37,Sun,Away,D,2,2,West Ham,2.5,...,14,6,4.666667,0.333333,18.333333,6.666667,14.933333,0.333333,0.000000,0.000000
57,2022-05-22,16:00,Matchweek 38,Sun,Home,W,3,2,Aston Villa,2.9,...,16,6,4.000000,1.000000,22.000000,7.000000,15.700000,1.000000,0.000000,0.333333

In [84]:
matches_rolling = matches.groupby("team").apply(lambda x: rolling_averages(x, cols, new_cols))

In [85]:

matches_rolling

                                 date   time         round  day venue result  \
team
Arsenal                 4  2017-09-09  15:00   Matchweek 4  Sat  Home      W
                        6  2017-09-17  13:30   Matchweek 5  Sun  Away      D
                        8  2017-09-25  20:00   Matchweek 6  Mon  Home      W
                        10 2017-10-01  12:00   Matchweek 7  Sun  Home      W
                        11 2017-10-14  17:30   Matchweek 8  Sat  Away      L
...                               ...    ...           ...  ...   ...    ...
Wolverhampton Wanderers 37 2022-04-30  15:00  Matchweek 35  Sat  Home      L
                        38 2022-05-07  15:00  Matchweek 36  Sat  Away      D
                        39 2022-05-11  20:15  Matchweek 33  Wed  Home      L
                        40 2022-05-15  14:00  Matchweek 37  Sun  Home      D
                        41 2022-05-22  16:00  Matchweek 38  Sun  Away      L

                            gf  ga         opponent   xg  ...  hour  day_code  \
team                                                      ...
Arsenal                 4    3   0      Bournemouth  2.0  ...    15         5
                        6    0   0          Chelsea  1.4  ...    13         6
                        8    2   0        West Brom  2.4  ...    20         0
                        10   2   0         Brighton  3.0  ...    12         6
                        11   1   2          Watford  1.1  ...    17         5
...                         ..  ..              ...  ...  ...   ...       ...
Wolverhampton Wanderers 37   0   3         Brighton  0.6  ...    15         5
                        38   2   2          Chelsea  2.1  ...    15         5
                        39   1   5  Manchester City  0.5  ...    20         2
                        40   1   1     Norwich City  0.9  ...    14         6
                        41   1   3        Liverpool  1.1  ...    16         6

                            gf_rolling ga_rolling sh_rolling sot_rolling  \
team
Arsenal                 4     1.333333   2.666667  18.000000    5.666667
                        6     1.000000   1.666667  14.666667    5.333333
                        8     1.000000   1.333333  12.000000    3.666667
                        10    1.666667   0.000000  14.333333    5.333333
                        11    1.333333   0.000000  17.333333    5.000000
...                                ...        ...        ...         ...
Wolverhampton Wanderers 37    0.666667   1.000000   8.666667    3.333333
                        38    0.000000   1.666667   8.666667    2.333333
                        39    0.666667   2.000000  11.666667    3.000000
                        40    1.000000   3.333333  10.666667    2.666667
                        41    1.333333   2.666667  12.666667    3.666667

                           dist_rolling  fk_rolling  pk_rolling  pkatt_rolling
team
Arsenal                 4     17.600000    0.000000    0.000000       0.000000
                        6     16.233333    0.333333    0.000000       0.000000
                        8     16.033333    0.333333    0.000000       0.000000
                        10    16.800000    1.333333    0.333333       0.333333
                        11    17.833333    1.666667    0.333333       0.333333
...                                 ...         ...         ...            ...
Wolverhampton Wanderers 37    16.966667    0.000000    0.000000       0.000000
                        38    18.233333    0.333333    0.000000       0.000000
                        39    17.133333    0.333333    0.000000       0.000000
                        40    16.400000    0.333333    0.000000       0.000000
                        41    17.033333    0.666667    0.000000       0.000000

[3403 rows x 38 columns]

In [86]:
matches_rolling = matches_rolling.droplevel('team')

In [87]:

matches_rolling

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,hour,day_code,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
4,2017-09-09,15:00,Matchweek 4,Sat,Home,W,3,0,Bournemouth,2.0,...,15,5,1.333333,2.666667,18.000000,5.666667,17.600000,0.000000,0.000000,0.000000
6,2017-09-17,13:30,Matchweek 5,Sun,Away,D,0,0,Chelsea,1.4,...,13,6,1.000000,1.666667,14.666667,5.333333,16.233333,0.333333,0.000000,0.000000
8,2017-09-25,20:00,Matchweek 6,Mon,Home,W,2,0,West Brom,2.4,...,20,0,1.000000,1.333333,12.000000,3.666667,16.033333,0.333333,0.000000,0.000000
10,2017-10-01,12:00,Matchweek 7,Sun,Home,W,2,0,Brighton,3.0,...,12,6,1.666667,0.000000,14.333333,5.333333,16.800000,1.333333,0.333333,0.333333
11,2017-10-14,17:30,Matchweek 8,Sat,Away,L,1,2,Watford,1.1,...,17,5,1.333333,0.000000,17.333333,5.000000,17.833333,1.666667,0.333333,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37,2022-04-30,15:00,Matchweek 35,Sat,Home,L,0,3,Brighton,0.6,...,15,5,0.666667,1.000000,8.666667,3.333333,16.966667,0.000000,0.000000,0.000000
38,2022-05-07,15:00,Matchweek 36,Sat,Away,D,2,2,Chelsea,2.1,...,15,5,0.000000,1.666667,8.666667,2.333333,18.233333,0.333333,0.000000,0.000000
39,2022-05-11,20:15,Matchweek 33,Wed,Home,L,1,5,Manchester City,0.5,...,20,2,0.666667,2.000000,11.666667,3.000000,17.133333,0.333333,0.000000,0.000000
40,2022-05-15,14:00,Matchweek 37,Sun,Home,D,1,1,Norwich City,0.9,...,14,6,1.000000,3.333333,10.666667,2.666667,16.400000,0.333333,0.000000,0.000000
41,2022-05-22,16:00,Matchweek 38,Sun,Away,L,1,3,Liverpool,1.1,...,16,6,1.333333,2.666667,12.666667,3.666667,17.033333,0.666667,0.000000,0.000000

In [88]:
matches_rolling.index = range(matches_rolling.shape[0])

In [112]:
def make_predictions(data, predictors):
    train = data[data["date"] < '2022-01-01']
    test = data[data["date"] > '2022-01-01']
    rf.fit(train[predictors], train["target"])
    preds = xgb.predict(test[predictors])
    combined = pd.DataFrame(dict(actual=test["target"], predicted=preds), index=test.index)
    error = precision_score(test["target"], preds)
    return combined, error

In [113]:

combined, error = make_predictions(matches_rolling, predictors + new_cols)

In [114]:
error

0.5945945945945946

In [93]:
combined = combined.merge(matches_rolling[["date", "team", "opponent", "result"]], left_index=True, right_index=True)

In [107]:
combined[combined["actual"] == combined["predicted"]]["team"].value_counts()

Watford                     18
Norwich City                16
Burnley                     15
Everton                     14
Manchester United           14
Southampton                 14
West Ham United             13
Aston Villa                 13
Liverpool                   12
Brentford                   12
Brighton and Hove Albion    12
Leeds United                12
Leicester City              12
Tottenham Hotspur           11
Wolverhampton Wanderers     11
Crystal Palace              11
Manchester City             10
Chelsea                     10
Newcastle United             9
Arsenal                      8
Name: team, dtype: int64

In [95]:
class MissingDict(dict):
    __missing__ = lambda self, key: key

map_values = {"Brighton and Hove Albion": "Brighton", "Manchester United": "Manchester Utd", "Newcastle United": "Newcastle Utd", "Tottenham Hotspur": "Tottenham", "West Ham United": "West Ham", "Wolverhampton Wanderers": "Wolves"} 
mapping = MissingDict(**map_values)

In [96]:
combined["new_team"] = combined["team"].map(mapping)

In [97]:

merged = combined.merge(combined, left_on=["date", "new_team"], right_on=["date", "opponent"])

In [98]:
merged[(merged["actual_x"] == 0 & merged["predicted_x"])]["team_x"].value_counts()

Watford                     18
Burnley                     16
Norwich City                16
Everton                     15
Leeds United                14
Aston Villa                 14
Southampton                 14
Brighton and Hove Albion    13
Leicester City              13
Manchester United           13
Wolverhampton Wanderers     12
Brentford                   12
Crystal Palace              12
West Ham United             12
Chelsea                      9
Tottenham Hotspur            8
Arsenal                      7
Newcastle United             7
Manchester City              5
Liverpool                    3
Name: team_x, dtype: int64

In [99]:
merged[(merged["team_x"] == "Tottenham Hotspur")]

,actual_x,predicted_x,date,team_x,opponent_x,result_x,new_team_x,actual_y,predicted_y,team_y,opponent_y,result_y,new_team_y
310,1,1,2022-01-19,Tottenham Hotspur,Leicester City,W,Tottenham,0,0,Leicester City,Tottenham,L,Leicester City
311,0,1,2022-01-23,Tottenham Hotspur,Chelsea,L,Tottenham,1,0,Chelsea,Tottenham,W,Chelsea
312,0,1,2022-02-09,Tottenham Hotspur,Southampton,L,Tottenham,1,0,Southampton,Tottenham,W,Southampton
313,0,0,2022-02-13,Tottenham Hotspur,Wolves,L,Tottenham,1,0,Wolverhampton Wanderers,Tottenham,W,Wolves
314,1,0,2022-02-19,Tottenham Hotspur,Manchester City,W,Tottenham,0,1,Manchester City,Tottenham,L,Manchester City
315,0,0,2022-02-23,Tottenham Hotspur,Burnley,L,Tottenham,1,0,Burnley,Tottenham,W,Burnley
316,1,0,2022-02-26,Tottenham Hotspur,Leeds United,W,Tottenham,0,0,Leeds United,Tottenham,L,Leeds United
317,1,1,2022-03-07,Tottenham Hotspur,Everton,W,Tottenham,0,0,Everton,Tottenham,L,Everton
318,0,0,2022-03-12,Tottenham Hotspur,Manchester Utd,L,Tottenham,1,0,Manchester United,Tottenham,W,Manchester Utd
319,1,1,2022-03-16,Tottenham Hotspur,Brighton,W,Tottenham,0,0,Brighton and Hove Albion,Tottenham,L,Brighton
320,1,0,2022-03-20,Tottenham Hotspur,West Ham,W,Tottenham,0,0,West Ham United,Tottenham,L,West Ham
321,1,0,2022-04-03,Tottenham Hotspur,Newcastle Utd,W,Tottenham,0,0,Newcastle United,Tottenham,L,Newcastle Utd
322,1,1,2022-04-09,Tottenham Hotspur,Aston Villa,W,Tottenham,0,0,Aston Villa,Tottenham,L,Aston Villa
323,0,1,2022-04-16,Tottenham Hotspur,Brighton,L,Tottenham,1,0,Brighton and Hove Albion,Tottenham,W,Brighton
324,0,0,2022-04-23,Tottenham Hotspur,Brentford,D,Tottenham,0,1,Brentford,Tottenham,D,Brentford
325,1,0,2022-05-01,Tottenham Hotspur,Leicester City,W,Tottenham,0,0,Leicester City,Tottenham,L,Leicester City
326,0,0,2022-05-07,Tottenham Hotspur,Liverpool,D,Tottenham,0,1,Liverpool,Tottenham,D,Liverpool
327,1,0,2022-05-12,Tottenham Hotspur,Arsenal,W,Tottenham,0,0,Arsenal,Tottenham,L,Arsenal
328,1,1,2022-05-15,Tottenham Hotspur,Burnley,W,Tottenham,0,0,Burnley,Tottenham,L,Burnley
329,1,1,2022-05-22,Tottenham Hotspur,Norwich City,W,Tottenham,0,0,Norwich City,Tottenham,L,Norwich City

In [100]:
merged["team_x"].unique()

array(['Arsenal', 'Aston Villa', 'Brentford', 'Brighton and Hove Albion',
       'Burnley', 'Chelsea', 'Crystal Palace', 'Everton', 'Leeds United',
       'Leicester City', 'Liverpool', 'Manchester City',
       'Manchester United', 'Newcastle United', 'Norwich City',
       'Southampton', 'Tottenham Hotspur', 'Watford', 'West Ham United',
       'Wolverhampton Wanderers'], dtype=object)

In [101]:
19*20

380

In [102]:
57/89

0.6404494382022472

In [103]:
df = merged.groupby(['team_x']).count()

In [104]:
df

,actual_x,predicted_x,date,opponent_x,result_x,new_team_x,actual_y,predicted_y,team_y,opponent_y,result_y,new_team_y
team_x,,,,,,,,,,,,
Arsenal,18,18,18,18,18,18,18,18,18,18,18,18
Aston Villa,20,20,20,20,20,20,20,20,20,20,20,20
Brentford,20,20,20,20,20,20,20,20,20,20,20,20
Brighton and Hove Albion,20,20,20,20,20,20,20,20,20,20,20,20
Burnley,22,22,22,22,22,22,22,22,22,22,22,22
Chelsea,18,18,18,18,18,18,18,18,18,18,18,18
Crystal Palace,18,18,18,18,18,18,18,18,18,18,18,18
Everton,21,21,21,21,21,21,21,21,21,21,21,21
Leeds United,20,20,20,20,20,20,20,20,20,20,20,20
Leicester City,20,20,20,20,20,20,20,20,20,20,20,20
Liverpool,19,19,19,19,19,19,19,19,19,19,19,19
Manchester City,17,17,17,17,17,17,17,17,17,17,17,17
Manchester United,20,20,20,20,20,20,20,20,20,20,20,20
Newcastle United,19,19,19,19,19,19,19,19,19,19,19,19
Norwich City,19,19,19,19,19,19,19,19,19,19,19,19
Southampton,19,19,19,19,19,19,19,19,19,19,19,19
Tottenham Hotspur,20,20,20,20,20,20,20,20,20,20,20,20
Watford,20,20,20,20,20,20,20,20,20,20,20,20
West Ham United,18,18,18,18,18,18,18,18,18,18,18,18
Wolverhampton Wanderers,20,20,20,20,20,20,20,20,20,20,20,20

In [137]:
merged[(merged["predicted_x"] == 1) & (merged["predicted_y"] ==0)]["team_x"].value_counts()

Liverpool                   11
Manchester City             11
Chelsea                      9
Tottenham Hotspur            9
Brentford                    4
Arsenal                      3
Aston Villa                  3
Brighton and Hove Albion     3
Manchester United            3
Leeds United                 2
Newcastle United             2
Southampton                  2
Burnley                      1
Crystal Palace               1
West Ham United              1
Wolverhampton Wanderers      1
Name: team_x, dtype: int64

In [147]:
merged[merged["team_x"] == "Manchester City"]

,actual_x,predicted_x,date,team_x,opponent_x,result_x,new_team_x,actual_y,predicted_y,team_y,opponent_y,result_y,new_team_y
216,1,0,2022-01-15,Manchester City,Chelsea,W,Manchester City,0,0,Chelsea,Manchester City,L,Chelsea
217,0,0,2022-01-22,Manchester City,Southampton,D,Manchester City,0,0,Southampton,Manchester City,D,Southampton
218,1,0,2022-02-09,Manchester City,Brentford,W,Manchester City,0,0,Brentford,Manchester City,L,Brentford
219,1,1,2022-02-12,Manchester City,Norwich City,W,Manchester City,0,0,Norwich City,Manchester City,L,Norwich City
220,0,1,2022-02-19,Manchester City,Tottenham,L,Manchester City,1,0,Tottenham Hotspur,Manchester City,W,Tottenham
221,1,0,2022-02-26,Manchester City,Everton,W,Manchester City,0,0,Everton,Manchester City,L,Everton
222,1,0,2022-03-06,Manchester City,Manchester Utd,W,Manchester City,0,0,Manchester United,Manchester City,L,Manchester Utd
223,0,1,2022-03-14,Manchester City,Crystal Palace,D,Manchester City,0,0,Crystal Palace,Manchester City,D,Crystal Palace
224,1,1,2022-04-02,Manchester City,Burnley,W,Manchester City,0,0,Burnley,Manchester City,L,Burnley
225,0,0,2022-04-10,Manchester City,Liverpool,D,Manchester City,0,0,Liverpool,Manchester City,D,Liverpool
226,1,1,2022-04-20,Manchester City,Brighton,W,Manchester City,0,0,Brighton and Hove Albion,Manchester City,L,Brighton
227,1,1,2022-04-23,Manchester City,Watford,W,Manchester City,0,0,Watford,Manchester City,L,Watford
228,1,1,2022-04-30,Manchester City,Leeds United,W,Manchester City,0,0,Leeds United,Manchester City,L,Leeds United
229,1,1,2022-05-08,Manchester City,Newcastle Utd,W,Manchester City,0,0,Newcastle United,Manchester City,L,Newcastle Utd
230,1,1,2022-05-11,Manchester City,Wolves,W,Manchester City,0,0,Wolverhampton Wanderers,Manchester City,L,Wolves
231,0,1,2022-05-15,Manchester City,West Ham,D,Manchester City,0,0,West Ham United,Manchester City,D,West Ham
232,1,1,2022-05-22,Manchester City,Aston Villa,W,Manchester City,0,0,Aston Villa,Manchester City,L,Aston Villa