In [1]:

import pandas as pd

In [2]:
movies_metadata = pd.read_csv(r"C:\Users\KENNEDY\OneDrive\Desktop\movies_metadata\movies_metadata.csv",low_memory=False)

In [3]:
ratings = pd.read_csv(r"C:\Users\KENNEDY\OneDrive\Desktop\movies_metadata\ratings2.csv",low_memory=False)

In [4]:
links = pd.read_csv(r"C:\Users\KENNEDY\Downloads\links.csv",low_memory=False)

In [5]:
#movies_metadata.columns

In [6]:
cleanmv = movies_metadata[["genres",'budget','homepage','id','imdb_id','original_language','popularity','production_companies','title','vote_average', 'vote_count']]

In [9]:
cleanmv

,genres,budget,homepage,id,imdb_id,original_language,popularity,production_companies,title,vote_average,vote_count
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]",Toy Story,7.7,5415.0
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",65000000,NaN,8844,tt0113497,en,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",Jumanji,6.9,2413.0
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",0,NaN,15602,tt0113228,en,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",Grumpier Old Men,6.5,92.0
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",16000000,NaN,31357,tt0114885,en,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,Waiting to Exhale,6.1,34.0
4,"[{'id': 35, 'name': 'Comedy'}]",0,NaN,11862,tt0113041,en,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...",Father of the Bride Part II,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...
45461,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",0,http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,0.072051,[],Subdue,4.0,1.0
45462,"[{'id': 18, 'name': 'Drama'}]",0,NaN,111109,tt2028550,tl,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]",Century of Birthing,9.0,3.0
45463,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",0,NaN,67758,tt0303758,en,0.903007,"[{'name': 'American World Pictures', 'id': 6165}]",Betrayal,3.8,6.0
45464,[],0,NaN,227506,tt0008536,en,0.003503,"[{'name': 'Yermoliev', 'id': 88753}]",Satan Triumphant,0.0,0.0
45465,[],0,NaN,461257,tt6980792,en,0.163015,[],Queerama,0.0,0.0

In [8]:
import re

def clean_title(title):
    title = re.sub("[^a-zA-Z0-9 ]", "", title)
    return title

In [10]:
def clean_imdb(imdb):
    imdb= re.sub("^tt0+(?!$)", "", imdb)
    return imdb

In [11]:
a = cleanmv["imdb_id"].astype(str)
imdb_id_c = []
for i in a:
    id = re.sub("^tt0+(?!$)","",i)
    imdb_id_c.append(id)
imdb_id_cl = []
for i in imdb_id_c:
    id = re.sub("tt","",i)
    imdb_id_cl.append(id)

In [12]:
cleanmv["cl_imdp_id"] = imdb_id_cl

C:\Users\KENNEDY\AppData\Local\Temp\ipykernel_12144\172840734.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleanmv["cl_imdp_id"] = imdb_id_cl

In [14]:
cleanmv

,genres,budget,homepage,id,imdb_id,original_language,popularity,production_companies,title,vote_average,vote_count,cl_imdp_id
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]",Toy Story,7.7,5415.0,114709
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",65000000,NaN,8844,tt0113497,en,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",Jumanji,6.9,2413.0,113497
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",0,NaN,15602,tt0113228,en,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",Grumpier Old Men,6.5,92.0,113228
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",16000000,NaN,31357,tt0114885,en,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,Waiting to Exhale,6.1,34.0,114885
4,"[{'id': 35, 'name': 'Comedy'}]",0,NaN,11862,tt0113041,en,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...",Father of the Bride Part II,5.7,173.0,113041
...,...,...,...,...,...,...,...,...,...,...,...,...
45461,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",0,http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,0.072051,[],Subdue,4.0,1.0,6209470
45462,"[{'id': 18, 'name': 'Drama'}]",0,NaN,111109,tt2028550,tl,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]",Century of Birthing,9.0,3.0,2028550
45463,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",0,NaN,67758,tt0303758,en,0.903007,"[{'name': 'American World Pictures', 'id': 6165}]",Betrayal,3.8,6.0,303758
45464,[],0,NaN,227506,tt0008536,en,0.003503,"[{'name': 'Yermoliev', 'id': 88753}]",Satan Triumphant,0.0,0.0,8536
45465,[],0,NaN,461257,tt6980792,en,0.163015,[],Queerama,0.0,0.0,6980792

In [15]:
cleanmv["cl_imdp_id"] = cleanmv["cl_imdp_id"].astype(str)

C:\Users\KENNEDY\AppData\Local\Temp\ipykernel_12144\2974875740.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleanmv["cl_imdp_id"] = cleanmv["cl_imdp_id"].astype(str)

In [16]:
#cleanmv["cl_imdp_id"]

In [17]:
cleanmv["mod_title"] = cleanmv["title"].str.replace("[^a-zA-Z0-9 ]", "", regex=True)

C:\Users\KENNEDY\AppData\Local\Temp\ipykernel_12144\417998865.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleanmv["mod_title"] = cleanmv["title"].str.replace("[^a-zA-Z0-9 ]", "", regex=True)

In [18]:
cleanmv["mod_title"] = cleanmv["mod_title"].str.lower()

C:\Users\KENNEDY\AppData\Local\Temp\ipykernel_12144\754622382.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleanmv["mod_title"] = cleanmv["mod_title"].str.lower()

In [19]:
cleanmv= cleanmv[cleanmv["mod_title"].str.len() > 0]

In [20]:
cleanmv

,genres,budget,homepage,id,imdb_id,original_language,popularity,production_companies,title,vote_average,vote_count,cl_imdp_id,mod_title
0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]",Toy Story,7.7,5415.0,114709,toy story
1,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",65000000,NaN,8844,tt0113497,en,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",Jumanji,6.9,2413.0,113497,jumanji
2,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",0,NaN,15602,tt0113228,en,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",Grumpier Old Men,6.5,92.0,113228,grumpier old men
3,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",16000000,NaN,31357,tt0114885,en,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,Waiting to Exhale,6.1,34.0,114885,waiting to exhale
4,"[{'id': 35, 'name': 'Comedy'}]",0,NaN,11862,tt0113041,en,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...",Father of the Bride Part II,5.7,173.0,113041,father of the bride part ii
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",0,http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,0.072051,[],Subdue,4.0,1.0,6209470,subdue
45462,"[{'id': 18, 'name': 'Drama'}]",0,NaN,111109,tt2028550,tl,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]",Century of Birthing,9.0,3.0,2028550,century of birthing
45463,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",0,NaN,67758,tt0303758,en,0.903007,"[{'name': 'American World Pictures', 'id': 6165}]",Betrayal,3.8,6.0,303758,betrayal
45464,[],0,NaN,227506,tt0008536,en,0.003503,"[{'name': 'Yermoliev', 'id': 88753}]",Satan Triumphant,0.0,0.0,8536,satan triumphant
45465,[],0,NaN,461257,tt6980792,en,0.163015,[],Queerama,0.0,0.0,6980792,queerama

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(ngram_range=(1,2))

tfidf = vectorizer.fit_transform(cleanmv["mod_title"])

In [22]:
import re

def clean_title(title):
    title = re.sub("[^a-zA-Z0-9 ]", "", title)
    return title

In [23]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

def search(title):
    title = clean_title(title)
    query_vec = vectorizer.transform([title])
    similarity = cosine_similarity(query_vec, tfidf).flatten()
    indices = np.argpartition(similarity, -5)[-5:]
    results = cleanmv.iloc[indices].iloc[::-1]
    
    return results

In [24]:
import ipywidgets as widgets
from IPython.display import display

In [25]:
movie_input = widgets.Text(
    value='Inception',
    description='Movie Title:',
    disabled=False
)
movie_list = widgets.Output()

def on_type(data):
    with movie_list:
        movie_list.clear_output()
        title = data["new"]
        if len(title) > 5:
            display(search(title))

movie_input.observe(on_type, names='value')


display(movie_input, movie_list)

Text(value='Inception', description='Movie Title:')

Output()

In [27]:
 imdb = 232500

In [28]:
movieid = links[links["imdbId"]==imdb]["movieId"]
movieid2 = int(movieid)
user_watched_movieid = ratings[ratings['movieId'] == movieid2]
watched_querry_movie_df = ratings[(ratings['movieId'] == movieid2) & (ratings['rating']>3.9)]
list_users_watched_querry_movie = watched_querry_movie_df["userId"].unique()
all_movies_wtd_by_stu_r4_df = ratings[(ratings["userId"].isin(list_users_watched_querry_movie)) & (ratings["rating"] > 4)]
all_movies_wtd_by_stu_r4 = all_movies_wtd_by_stu_r4_df["movieId"]
pect_lkd = all_movies_wtd_by_stu_r4.value_counts()  / len(list_users_watched_querry_movie)
ten_pect_lkd = pect_lkd[pect_lkd>0.1]
all_users = ratings[(ratings["movieId"].isin(ten_pect_lkd.index)) & (ratings["rating"] > 4)]
all_user_recs = all_users["movieId"].value_counts() / len(all_users["userId"].unique())
rec_percentages = pd.concat([ten_pect_lkd,all_user_recs], axis=1)
rec_percentages.columns = ["similar", "all"]
rec_percentages["score"] = rec_percentages["similar"] / rec_percentages["all"]
rec_percentages = rec_percentages.sort_values("score", ascending=False)
movies = cleanmv.copy()
recc_ten =  rec_percentages.head(10).merge(links, left_index=True, right_on="movieId")
movies =movies[movies['imdb_id'].notna()]
b = movies["cl_imdp_id"].astype(int)
movies["cl_imdp_id2"] = b
recc_ten_movies =  pd.merge(recc_ten ,movies,left_on='imdbId',right_on='cl_imdp_id2')
recommedations = recc_ten_movies[["popularity","title","vote_average","vote_count","homepage","score"]]

In [27]:
def make_clickable(val):
    return '<a target="_blank" href="{}">homepage</a>'.format(val, val)
recommedations.style.format({'homepage': make_clickable})

In [28]:
#recommedations

In [29]:
#movieid

In [30]:
#movieid2 = int(movieid)

In [31]:
#movieid2

In [32]:
#ratings['movieId']

In [33]:
#user_watched_movieid = ratings[ratings['movieId'] == movieid2]

In [34]:
#user_watched_movieid

In [35]:
#watched_querry_movie_df = ratings[(ratings['movieId'] == movieid2) & (ratings['rating']>3.9)]

In [36]:
#watched_querry_movie_df

In [37]:
#list_users_watched_querry_movie = watched_querry_movie_df["userId"].unique()

In [ ]:
#list_users_watched_querry_movie

In [ ]:
#all_movies_wtd_by_stu_r4_df = ratings[(ratings["userId"].isin(list_users_watched_querry_movie)) & (ratings["rating"] > 4)]#["movieId"]

In [ ]:
#all_movies_wtd_by_stu_r4_df

In [ ]:
#all_movies_wtd_by_stu_r4 = all_movies_wtd_by_stu_r4_df["movieId"]

In [ ]:
#all_movies_wtd_by_stu_r4.value_counts()

In [ ]:
#pect_lkd = all_movies_wtd_by_stu_r4.value_counts()  / len(list_users_watched_querry_movie)

In [ ]:
#pect_lkd

In [ ]:
#ten_pect_lkd = pect_lkd[pect_lkd>0.1]

In [ ]:
#len(ten_pect_lkd)

In [ ]:
#all_users = ratings[(ratings["movieId"].isin(ten_pect_lkd.index)) & (ratings["rating"] > 4)]

In [ ]:
#all_users

In [ ]:
#all_user_recs = all_users["movieId"].value_counts() / len(all_users["userId"].unique())

In [ ]:
#len(all_user_recs)

In [ ]:

# rec_percentages = pd.concat([ten_pect_lkd,all_user_recs], axis=1)
# rec_percentages.columns = ["similar", "all"]

In [ ]:

#rec_percentages

In [ ]:
#rec_percentages["score"] = rec_percentages["similar"] / rec_percentages["all"]

In [ ]:
#rec_percentages = rec_percentages.sort_values("score", ascending=False)

In [ ]:
#rec_percentages

In [ ]:
#movies = cleanmv.copy()

In [ ]:
#recc_ten =  rec_percentages.head(10).merge(links, left_index=True, right_on="movieId")#[["movieId","imdbId"]]
#recc_ten ["imdbId"]

In [ ]:
#movies =movies[movies['imdb_id'].notna()]

In [ ]:
#movies["cl_imdp_id2"] = a

In [ ]:
#movies

In [ ]:
#recc_ten_movies =  pd.merge(recc_ten ,movies,left_on='imdbId',right_on='cl_imdp_id2')

In [ ]:
#recommedations = recc_ten_movies[["popularity","title","vote_average","vote_count","homepage","score"]]

In [38]:
def make_clickable(val):
    return '<a target="_blank" href="{}">homepage</a>'.format(val, val)
#recommedations.style.format({'homepage': make_clickable})

In [32]:
def find_similar_movies(movie_id):
    movieid = links[links["imdbId"]==movie_id]["movieId"]
    movieid2 = movieid.copy()
    user_watched_movieid = ratings[ratings['movieId'] == movieid2]
    watched_querry_movie_df = ratings[(ratings['movieId'] == movieid2) & (ratings['rating']>3.9)]
    list_users_watched_querry_movie = watched_querry_movie_df["userId"].unique()
    all_movies_wtd_by_stu_r4_df = ratings[(ratings["userId"].isin(list_users_watched_querry_movie)) & (ratings["rating"] > 4)]
    all_movies_wtd_by_stu_r4 = all_movies_wtd_by_stu_r4_df["movieId"]
    pect_lkd = all_movies_wtd_by_stu_r4.value_counts()  / len(list_users_watched_querry_movie)
    ten_pect_lkd = pect_lkd[pect_lkd>0.1]
    all_users = ratings[(ratings["movieId"].isin(ten_pect_lkd.index)) & (ratings["rating"] > 4)]
    all_user_recs = all_users["movieId"].value_counts() / len(all_users["userId"].unique())
    rec_percentages = pd.concat([ten_pect_lkd,all_user_recs], axis=1)
    rec_percentages.columns = ["similar", "all"]
    rec_percentages["score"] = rec_percentages["similar"] / rec_percentages["all"]
    rec_percentages = rec_percentages.sort_values("score", ascending=False)
    movies = cleanmv.copy()
    recc_ten =  rec_percentages.head(10).merge(links, left_index=True, right_on="movieId")
    movies =movies[movies['imdb_id'].notna()]
    b = movies["cl_imdp_id"].astype(int)
    movies["cl_imdp_id2"] = b
    recc_ten_movies =  pd.merge(recc_ten ,movies,left_on='imdbId',right_on='cl_imdp_id2')
    recommedations = recc_ten_movies[["popularity","title","vote_average","vote_count","homepage","score"]] 
    return recommedations.style.format({'homepage': make_clickable})

In [ ]:
#recommedations

In [ ]:
# def find_similar_movies(movie_id):
#     movieid = links[links["imdbId"]==movie_id]["movieId"]
#     movieid2 = int(movieid)
#     user_watched_movieid = ratings[(ratings["movieId"] == movieid2) & (ratings["rating"] > 4)]["userId"].unique()
    
#     similar_user_recs = ratings[(ratings["userId"].isin(user_watched_movieid)) & (ratings["rating"] > 4)]["movieId"]
#     similar_user_recs = similar_user_recs.value_counts() / len(similar_users)

#     similar_user_recs = similar_user_recs[similar_user_recs > .10]
#     all_users = ratings[(ratings["movieId"].isin(similar_user_recs.index)) & (ratings["rating"] > 4)]
#     all_user_recs = all_users["movieId"].value_counts() / len(all_users["userId"].unique())
#     rec_percentages = pd.concat([similar_user_recs, all_user_recs], axis=1)
#     rec_percentages.columns = ["similar", "all"]
    
#     rec_percentages["score"] = rec_percentages["similar"] / rec_percentages["all"]
#     rec_percentages = rec_percentages.sort_values("score", ascending=False)
#     movies = movies[movies['imdb_id'].notna()]
#     movies['cl_imdp_id2'] = movies["cl_imdp_id"].astype(int)
#     recc_ten =  rec_percentages.head(10).merge(links, left_index=True, right_on="movieId")
#     recc_ten_movies =  pd.merge(recc_ten ,movies,left_on='imdbId',right_on='cl_imdp_id2')
#     return recc_ten_movies["score", "title", "genres"]

In [33]:
# import ipywidgets as widgets
# from IPython.display import display

movie_name_input = widgets.Text(
    value='Toy Story',
    description='Movie Title:',
    disabled=False
)
recommendation_list = widgets.Output()

def on_type(data):
    with recommendation_list:
        recommendation_list.clear_output()
        title = data["new"]
        if len(title) > 3:
            results = search(title)
            movie_id = results.iloc[0]["cl_imdp_id"]
            display(find_similar_movies(movie_id))

movie_name_input.observe(on_type, names='value')

display(movie_name_input, recommendation_list)

Text(value='Toy Story', description='Movie Title:')

Output()